$font-secondary: 'Nunito', sans-serif;
$light-black: #2c2c38;
$red: #d25078;
$green: #64af4c;
$grey: #8a8793;
$white: #fff;
$black: #000;
$purple: #845695;
$blue: #36a9e0;

$desktop-big-bp: 1300px;
$desktop-bp: 1200px;
$notebook-bp: 1080px;
$tablet-bp: 991px;
$mobile-bp: 767px;
$mobile-sm-bp: 575px;